MYJDOWNLOADER_EMAIL=change-me@example.com
MYJDOWNLOADER_PASSWORD=change-me
MYJDOWNLOADER_DEVICE_NAME=change-me
# Carpetas de descargas en el host
DOWNLOADS_DIR_1=/mnt/usb-downloads-1/Descargas
DOWNLOADS_DIR_2=/mnt/usb-downloads-2/Descargas
